<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование данных</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="name">Введите новое ФИО:</label>
    <input type="text" id="name" th:field="*{name}"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="birthYear">Введите новый год рождения:</label>
    <input type="text" id="birthYear" th:field="*{birthYear}"/>
    <div style="color:red" th:if="${#fields.hasErrors('birthYear')}" th:errors="*{birthYear}">Birth year error</div>
    <br/>
    <input type="submit" value="Применить">
</form>

</body>
</html>